html {
	padding:0px;
}

body {
	font-family: Verdana, sans-serif;
	background-image: url("../imgs/wallpaper.jpg");
	/*margin-top: 10%;*/
}

.navbar {
	background-color: #99FFFF;
}
.navbar > a {
	color:black;
}
.jumbotron {
	text-align: center;
	background-color: #F2f2f2;
}
sept, oct, nov, dec{
	font-size: 2em;
	/*border:1px solid black;*/
	padding:1%;
	color:white;
}

#timer{
	background-color: black;
	color:red;
	border-radius: 15%;
	font-family: Courier, monospace;
	padding-top: 2px;
	padding-bottom: 2px;
}
/*
.shelf {
	border:1px solid black;
}
.flat {
	margin-left: 20%;
	background-image: url("../imgs/wood-shelf.jpg");
	width: 800px;
	height: 100px;
	-webkit-transform: skew(-30deg);
	   -moz-transform: skew(-30deg);
	     -o-transform: skew(-30deg);
}
.lip {
	width: 800px;
	height: 10px;
	background-image: url("../imgs/wood-shelf.jpg");
	margin-left: 18%;
}
*/
.shelf {
    margin-left:16%;
    /*margin-top:10px;*/
}
polygon {
    fill:#987456;
    stroke:black;
    stroke-width:1;
}
.one, .two, .thr, .four {
	padding-top: 2%;
}
.one {
	position:relative;
	left:26%;
	margin-top: 1%;
	transition: all .2s ease-in-out;
}
.two {
	position:relative;
	left:27%;
	margin-top: 1%;
	transition: all .2s ease-in-out;
}
.thr {
	position:relative;
	left:28%;
	margin-top: 1%;
	transition: all .2s ease-in-out;
}
.four {
	position:relative;
	left:29%;
	margin-top: 1%;
	transition: all .2s ease-in-out;
}
.one:hover, .two:hover, .thr:hover, .four:hover {
	transform: scale(1.1, 1.1) translate(0px,-15px);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1em;
  /* Set the fixed height of the footer here */
  height:2em;
  background-color: #99FFFF;
}