body{
	font-family: Arial, sans-serif;
	font-size:5vh;
	background-color: #f2f2f2;
}
header{
	position:fixed;
	left: 3vw; width: 85vw;
	font-size: 7vh;
	border:1px black;
	margin:15px;padding:5px;
	background-color:#f2f2f2;
	color:#100226;
}
details{
	position:relative;
	top:10vh;left: 5vw;
	border:1px black;
	margin:15px;padding:5px;padding-top:30px;
}
footer{
	position:fixed;
	bottom:1vh; left:3vw; width: 85vw;
	border:1px black;
	margin:15px;padding:5px;
	background-color:#f2f2f2;
	color:#000000;