html{
	/*border:1px solid black;*/
	font-size:1.5em;
}
body {
	font-family:Verdana,Sans-serif;
	font-size:12px;
	/*border:1px solid black;*/
}
/*header{
	position:relative;
	left: 3vw; width:80vw; height:10vh;
	font-size: 5vh;
	border:1px solid black;
	margin:2vh;padding-top:1vh;
	background-color:#303030
	color:#c0c0c0;
	text-align: center;
}*/
header{
	font-size: 1vh;
	padding-top:1vh; padding-left: 1vh;
	height: 5vh;
}
nav{
	height:1vh;
	margin:0 0 0 0;
}
nav>a{
	float:right;
	padding:1.5% 1.5% 0 .5%;
	color:#f2f2f2;
	text-decoration: none;
}
nav>a:hover{
	color:blue;
}
section{
	position:relative;
	left:10%;top:2vh;width:60%;height:65vh;
	border:1px black;
	margin:15px;padding:5px;
	text-align: justify;
}
footer{
	position:absolute;
	bottom:-70%; left:5vw; width: 85vw;
	font-size: 1vh;
	border:1px black;
	/*margin:15px;padding:5px;
	background-color:#f2f2f2;
	color:#000000;*/
}
img { 
	max-width: 100%;
	/*border:1px solid black;*/
	margin-right: auto;
	margin-left: auto;
	display:block;
}
div#date{
	float:right;
}
ul {
	/*list-style:none;*/
	padding-left:7%;
}
td, th{
	border:1px solid black;
}
table {
	margin-right: auto;
	margin-left: 20%;
	display:block;
}
p{
	line-height: 200%;
}
blockquote{
	line-height: 100%;
}
code{
	background-color: #d0d0d0;
	color:#CC0033;
	padding:1px;
}
