body {
	font-family:Verdana,Sans-serif;
	font-size:1.5vh;
	/*border:1px solid black;*/
}
/*header{
	position:relative;
	left: 3vw; width:80vw; height:10vh;
	font-size: 5vh;
	border:1px solid black;
	margin:2vh;padding-top:1vh;
	background-color:#303030
	color:#c0c0c0;
	text-align: center;
}*/
header{
	font-size: 3vh;
	padding-top:1vh; padding-left: 1vh;
}
section{
	position:relative;
	left:3vw;top:0vh;width:70vw;height:65vh;
	border:1px black;
	margin:15px;padding:5px;
	text-align: justify;
}
footer{
	position:absolute;
	bottom:0vh; left:5vw; width: 85vw;
	font-size: 1vh;
	border:1px black;
	/*margin:15px;padding:5px;
	background-color:#f2f2f2;
	color:#000000;*/
}
img { 
	max-width: 100%;
	border:1px solid black;
}
div#date{
	float:right;
}
