body{
	font-family: Verdana, sans-serif;
	font-size:5vh;
	background-color: #282828;
	height:100vh;
	/*border:1px solid black;*/
}
header{
	position:fixed;
	left: 3vw; width: 85vw;
	font-size: 7vh;
	border:1px black;
	margin:0 0 0 1.6vw;padding:3vh;
	background-color:#282828;
	color:#D0D0D0;
	/*border:1px solid black;*/
}
details{
	position:relative;
	top:15vh;left: 5vw;
	border:1px black;
	margin:15px;padding:5px;padding-top:30px;
	color:#e0e0e0;
	/*border:1px solid black;*/
}
li{
	font-size:3vh;
	line-height: 150%;
	color:#e0e0e0;
}
footer{
	position:absolute;
	bottom:0vh; left:3vw; width: 85vw;
	border:1px black;
	margin:15px;padding:5px;
	font-size:2vh;
	background-color: #282828;
	color:#e0e0e0;
}
a:visited{
	color:#909090;
}
a{
	color:#E8e8e8;
}
a:hover{
	color:#99ffff;
}