body {
  background-image: url("../imgs/20161231-DSC_0027.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2em;
  padding-left: 5vw;
  padding-bottom: 5vw;
  padding-right: 5vw;
}

.overview {
  padding-bottom: .5em;
  border-bottom: 1px solid white;
}

.introduction {
  font-size: 8em;
  padding-bottom: .5em;
  color: #8e8e8e;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.overview-list-item {
  font-size: 4em;
  color: #ececec;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.project-timeline {
  display: none;
}

#timeline-button {
  display: none;
}

.media-links {
  padding-top: 13em;
  position: relative;
  margin-left: 40vw;
  margin-right: auto;
}
