body {
	font-family:Arial,Sans-serif;
	font-size:1.5vh;
}
div#nav{
	position:fixed;
	top:215px;left: 255px; height: 200px; width: 70vw;
	border:1px black;
	margin:15px;padding:5px;padding-top:15px;padding-bottom:15px;		
	background-color:#ffffff;
}
div#sidebar {
	position: fixed;
	bottom: 0; top: 0; left: 0;	width: 250px;
	padding:5px;
	text-align:center;
	border-right:2px solid black;
	font-size: 3vh;
	background-color:#ffffff;
}
div#content {
	position:fixed;
	left:255px;top:255px;width:70vw;height:65vh;
	border:1px black;
	margin:15px;padding:5px;
	color:#9CCDFF;
	text-align: justify;
	background-color:#100226;
}
	
header,footer{
	position:fixed;
	left: 255px; width: 70vw;
	border:1px black;
	margin:15px;padding:5px;padding-top:30px;
	background-color:#100226;
	color:#f2f2f2;
}
header{
	height: 20vh;
	font-size: 12vh;
	position:fixed; top:10px;
}
footer{
	position:fixed;
	bottom:0;height:3vh;
}
