html{

}
body {
	font-family:Verdana,Sans-serif;
	font-size:2vh;
	margin:0 0 0 0;
	clear:both;
}
header{
	position:relative;
	width:100%;
	background-color:#B0B0B0;
	color:#f2f2f2;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
header>img{
	position:relative;
	top:5vh; left:0px; right:0px;
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

.nav{
	position:absolute;
	top:0px;left:0px;width:100%;
	height:10%; 		
	background-color:#B0B0B0;
	font-weight: bold;
	text-align:left;
	padding-top:.5vh;
}
.nav>a{
	float:right;
	background:#B0B0B0;
	padding-top:1.5%;padding-left:.5%;padding-right:.5%;padding-bottom: 1.5%;
	color:white;
	border-radius:4px; text-decoration: none;
	display:inline-block;
	text-decoration: none;
	margin-right:.5%;
}
.content{
	position:absolute;
	bottom:0;
}
img{
	margin-right: auto;
	margin-left: auto;
	display:block;
}

.info {
	position:absolute;
	top:0;left:0vw;width:80vw;height:65vh;
	margin:15px;padding:5px;
	color:#181818;
	text-align: justify;
	background:white;
}
.info>h5{
	text-align: center;
}
.source{
	font-size: 8px;
}
.sidebar {
	position: absolute;
	bottom:0vh;
	left: 0;
	padding:5px;
	text-align:center;
	font-size: 3vh;
	line-height: .75vh;
}
.sidebar>img{
	height: 19vw; width:19vw;
}
.sidebar>p>a{
	background:#B0B0B0;
	padding:1vh;
	color:white;
	border-radius:4px; text-decoration: none;
	font-size: 1.75vh; display:inline-block;
	text-decoration: none;
}
.sidebar>p>a:hover{
	color:blue;
}
footer{
	position:fixed;
	height:3vh;
	font-size: 8px;
	bottom:0;
}