body{
	/*border: 1px solid green;*/
	width: 95vw;
	height: 95vh;
}
.level {
	width: 90%;
	height: 50%;
	border: 1px solid black;
	background-image: url("background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#punchingBag {
	position:absolute; top: 100px; left:65px;
	width: 26px;
	height: 80px;
	background-image: url("game-imgs/punching-bag.jpg");
}
.swing {
	animation: swing 3s infinite ease-in-out;
}
@keyframes swing {
	0%{transform:rotate(-3deg)}
    50%{transform:rotate(3deg)}
    100%{transform:rotate(-3deg)}
}
#hero {
	position:absolute; top:100px;
	width: 70px;
	height: 80px;
	background-image: url("game-imgs/stick-fig.jpg");
	background-position: 74px 2px;
}
.walkright {
	animation: walkright steps(3) 0.55s infinite;
}
@keyframes walkright {
	0%{ background-image: url("game-imgs/stick-walk-01.jpg"); }
	50%{ background-image: url("game-imgs/stick-walk-02.jpg"); }
	100%{ background-image: url("game-imgs/stick-walk-03.jpg"); }
}
.walkleft {
	animation: walkleft steps(3) 0.55s infinite;
}
@keyframes walkleft {
	0%{ background-image: url("game-imgs/stick-walk-11.jpg"); }
	50%{ background-image: url("game-imgs/stick-walk-12.jpg"); }
	100%{ background-image: url("game-imgs/stick-walk-13.jpg"); }
}
.punch {
	animation: punch steps(3) 0.55s infinite;
}
@keyframes punch {
	0%{ background-image: url("game-imgs/stick-punch-01.jpg"); }
	50%{ background-image: url("game-imgs/stick-punch-02.jpg"); }
	100%{ background-image: url("game-imgs/stick-punch-03.jpg"); }
}
.kick {
	animation: kick steps(3) 0.55s infinite;
}
@keyframes kick {
	0%{ background-image: url("game-imgs/stick-kick-01.jpg"); }
	50%{ background-image: url("game-imgs/stick-kick-02.jpg"); }
	100%{ background-image: url("game-imgs/stick-kick-03.jpg"); }
}
.sword {
	animation: sword steps(3) 0.55s infinite;
}
@keyframes sword {
	0%{ background-image: url("game-imgs/stick-sword-01.jpg"); }
	50%{ background-image: url("game-imgs/stick-sword-02.jpg"); }
	100%{ background-image: url("game-imgs/stick-sword-03.jpg"); }
}
p {
	font-size: 10px;
}
progress {
	border: 1px solid black;
}